.top-buttons {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-buttons .search-button {
    min-width: 12vw;
}

.top-buttons .selected-button {
    background-color: #ea5f4a;
}

.card {
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    min-height: 1.5em;
}

.top-row h2, .top-row p {
    margin-top: 0;
    margin-bottom: 0;
}

.card-information {
    margin-bottom: 5px;
}

.card-information > p {
    margin: 0;
}

.card-information .skeleton-text:last-child {
    margin-bottom: 10px;
}

.job-requirements {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.skill-tag, .page {
    background-color: #A443DA;
    color: white;
    margin: 0 5px 5px 0;
    padding: 7px;
    border-radius: 5px;
}

.date-posted {
    color: rgb(77, 77, 77);
}

.buttons {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* responsiveness */
@media screen and (max-width: 500px) {
    .card {
        padding: 5px 15px 5px 15px;
    }
    .buttons {
        justify-content: center;
    }
    .buttons i.fa-fw {
        margin-right: 0;
    }
}

@media screen and (max-width: 440px) {
    .top-buttons {
        flex-direction: column;
    }
    .top-buttons .search-button {
        min-width: 50vw;
    }
}