#main {
    max-width: 90vw;
}

#wrapper {
    padding: 15px;
    display: flex;
    justify-content: center;
}

table {
    width: 70vw;
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

tr {
    border-bottom: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    text-align: left;
    padding: 3px;
}

td:last-child {
    text-align: center;
}

.candidate-profile {
    text-align: center;
    font-weight: bold;
}

.candidate-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.buttons button {
    width: 100%;
    padding: 7px;
    background-color: #A443DA;
}

.buttons button:hover, .modal-wrapper button:hover {
    background-color: #9c1de0;
}

.modal-content {
    width: 55vw;
}

.modal-wrapper p {
    margin: 0;
}

.modal-wrapper p:first-child {
    margin-top: 25px;
}

.modal-wrapper button {
    background-color: #A443DA;
    margin-top: 15px;
}

.filters {
    width: calc(50vw + 20px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
}

.filters h3, h2 {
    margin-left: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.filters h2 {
    margin-bottom: 15px;
}

.input {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* responsiveness */
@media screen and (max-width: 650px) {
    .filters {
        width: 60vw;
    }
    tr {
        display: flex;
        flex-direction: column;
    }
    tr:first-child {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .input {
        width: 30vw;
    }
}