#main {
    max-width: 90vw;
}

#wrapper {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.candidates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.candidate-card {
    background-color: white;
    width: 25vw;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.candidate-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.candidate-card h2 {
    padding: 0;
    margin: 0;
}

.candidate-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
}

.buttons button {
    padding: 7px;
    background-color: #A443DA;
}

.buttons button:hover, .modal-wrapper button:hover {
    background-color: #9c1de0;
}

.buttons button:first-child {
    margin-right: 5px;
}

.modal-content {
    width: 55vw;
}

.modal-wrapper p {
    margin: 0;
}

.modal-wrapper p:first-child {
    margin-top: 25px;
}

.modal-wrapper button {
    background-color: #A443DA;
    margin-top: 15px;
}

.return-button {
    min-height: 8vh;
    min-width: 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-bottom: 3vh;
}

.filters {
    width: calc(50vw + 20px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
}

.filters h3, h2 {
    margin-left: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.filters h2 {
    margin-bottom: 15px;
}

.input {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* responsiveness */
@media screen and (max-width: 845px) {
    .buttons button {
        width: 100%;
    }
    .buttons button:first-child {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .candidate-data {
        flex-direction: column;
    }
    .candidate-card h2 {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .candidate-card, .filters {
        width: 60vw;
    }
}

@media screen and (max-width: 400px) {
    .input {
        width: 30vw;
    }
}