#profile {
    max-width: 80vw;
    min-height: 40vh;
    margin: 20vh auto;
    text-align: center;
    padding: 10px;
}

.upper-container {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #E87461;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-information {
    text-align: left;
    margin-left: 20px;
    min-width: 35vw;
}

.profile-information h1 {
    font-size: 30px;
}

.information-list {
    list-style-type: none;
}

.information-list li {
    margin-bottom: 5px;
}

.lower-container h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.edit-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
}

.edit-button button, .add-button {
    background-color: #E87461;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.edit-button button:hover, .add-button:hover {
    background-color: #ea5f4a;
}

.lower-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #E87461;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    justify-content: space-between;
}

.section-title {
    display: flex;
    align-items: flex-start;
}

.section-info {
    display: flex;
    flex-direction: column;
}

.section-content {
    margin: 0 20px 0 20px;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-bottom: 5px;
}

.left-data, .right-data {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 10px;
}

.right-data {
    justify-content: flex-start;
}

.right-data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-data-container p {
    margin: 0;
    text-align: left;
}

.bigger-text {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.left-data.bigger-text {
    color: rgb(77, 77, 77);
}

.buttons {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.section-button:last-child {
    margin-left: 5px;
}

i.fa-fw {
    margin-right: 6px;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45vw;
    border-radius: 10px;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.close {
    cursor: pointer;
    float: right;
}

form {
    padding-left: 15px;
    padding-right: 15px;
}

.input, .select, .listing {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.input, .listing, .dates, textarea {
    width: 42vw;
}

.listing {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
}

.listing:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

#listing-container {
    display: none;
    position: absolute;
    z-index: 100;
}

.select {
    max-width: 42vw;
}

.select-fields
{
    display: flex;
    flex-direction: column;
}

#job-start-month, #job-end-month {
    margin-bottom: 0;
}

.year-list {
    margin-top: 0;
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled {
    opacity: 0.7;
}

.modal {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.modal::-webkit-scrollbar { 
    display: none;
}

.warning-text {
    display: none;
    color: red;
}

/* responsiveness */
@media screen and (max-width: 740px) {
    .modal-content {
        width: 70vw;
    }
    .input, .listing, .dates, textarea {
        width: 65vw;
    }
    .select {
        max-width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .upper-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .upper-container {
        min-height: 100px;
    }
    .left-side {
        flex-direction: column;
        align-items: center;
    }
    .profile-picture {
        height: 100px;
        width: 100px;
    }
    .profile-information {
        text-align: center;
        margin-left: 0;
        min-width: 60vw;
    }
    .data-container {
        flex-direction: column;
    }
    .left-data {
        justify-content: flex-start;
    }
    .buttons {
        text-align: left;
        padding-left: 20px;
    }
}