#profile {
    max-width: 90vw;
    min-height: 40vh;
    margin: 20vh auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#profile > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#company-information {
    border: 3px solid #A443DA;
    border-radius: 10px;
    padding: 15px 0 15px 0;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#company-information h1 {
    margin-top: 5px;
    text-align: center;
}

.name {
    height: 5vh;
    width: 25vw;
}

.information-list {
    list-style-type: none;
    min-width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information-list li {
    margin-right: 25px;
    display: inline;
}

.information-list li:last-child {
    margin-right: 0;
}

.edit-button {
    background-color: #A443DA;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    width: 95%;
}

.edit-button:hover {
    background-color: #9c1de0;
}

#job-postings h1 {
    text-align: left;
    margin-right: 20px;
}

#job-postings .edit-button {
    font-size: 1em;
    width: auto;
    border-radius: 5px;
    margin: 0;
}

.upper-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px;
}

.card {
    width: 70vw;
    background-color: white;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    min-height: 1.5em;
}

.top-row h2, .top-row p {
    margin-top: 0;
    margin-bottom: 0;
}

.card-information {
    margin-bottom: 5px;
}

.card-information > p {
    margin: 0;
}

.card-information .skeleton-text:last-child {
    margin-bottom: 10px;
}

.job-requirements {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.skill-tag, .page {
    background-color: #A443DA;
    color: white;
    margin: 0 5px 5px 0;
    padding: 7px;
    border-radius: 5px;
}

.date-posted {
    color: rgb(77, 77, 77);
}

.buttons {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.section-button:first-child {
    margin-left: 0;
}

#pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.page {
    padding: 10px 13px;
    cursor: pointer;
}

.page:hover {
    background-color: #9c1de0;
}

.page.active {
    background-color: #700ea4;
}

/* modal */
.modal-wrapper {
    text-align: center;
}

.modal-wrapper .edit-button {
    width: auto !important;
}

/* responsiveness */
@media screen and (max-width: 820px) {
    .profile-picture {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .information-list {
        flex-direction: column;
        justify-content: center;
    }
    .information-list li {
        margin-right: 0px;
    }
    .card {
        padding: 5px 15px 5px 15px;
    }
    .upper-part > * {
        margin: 0;
    }
    .upper-part {
        flex-direction: column;
        align-items: flex-start;
        margin: 50px 0 20px 20px;
    }
    #job-postings h1 {
        margin-bottom: 3px;
    }
    .buttons {
        justify-content: center;
    }
    .buttons i.fa-fw {
        margin-right: 0;
    }    
    .section-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}