#wrapper {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    border-radius: 10px;
}

#candidate-form, #company-form {
    padding: 25px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-picture {
    width: 15vw;
    border-radius: 50%;
    cursor: pointer;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.pair label {
    font-size: 18px;
}

.input, .select, .listing {
    width: 57vw;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.candidate-button {
    min-height: 8vh;
    min-width: 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E87461;
    color: white;
    font-size: 15px;
}

.candidate-button:hover {
    background-color: #ea5f4a;
}

.company-button {
    background-color: #A443DA;
}

.company-button:hover {
    background-color: #9c1de0;
}

.modal-wrapper .input {
    margin-top: 0;
}

.modal-wrapper p {
    margin-bottom: 5px;
}

/* responsiveness */
@media screen and (max-width: 700px) {
    .profile-picture img {
        width: 20vw;
    }
}

@media screen and (max-width: 500px) {
    .profile-picture img {
        width: 25vw;
    }
}