#wrapper {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    border-radius: 10px;
}

#candidate-form, #company-form {
    padding: 25px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    position: relative;
    text-align: center;
    width: 15vw;
    height: 15vw;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture:hover #image-upload-label {
    display: block;
}

#profile-picture {
    width: 15vw;
    cursor: pointer;
}

#image-upload-label {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 4vh 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.remove-text {
    position: relative;
    top: 13px;
    color: rgb(138, 12, 12);
    cursor: pointer;
    padding: 5px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.pair label {
    font-size: 18px;
}

.input, .select, .listing {
    width: 57vw;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.candidate-button {
    min-height: 8vh;
    min-width: 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E87461;
    color: white;
    font-size: 15px;
}

.candidate-button:hover {
    background-color: #ea5f4a;
}

.company-button {
    background-color: #A443DA;
}

.company-button:hover {
    background-color: #9c1de0;
}

.modal-wrapper .input {
    margin-top: 0;
}

.modal-wrapper p {
    margin-bottom: 5px;
}

#sample-image {
    max-width: 100%;
    display: block;
}

.cropper-container {
    margin-top: 25px;
    margin-bottom: 10px;
}

/* responsiveness */
@media screen and (max-width: 800px) {
    #image-upload-label {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    .profile-picture {
        width: 25vw;
        height: 25vw;
    }
    #profile-picture {
        width: 25vw;
    }
}

@media screen and (max-width: 500px) {
    .profile-picture {
        width: 30vw;
        height: 30vw;
    }
    #profile-picture {
        width: 30vw;
    }
}